.titulonaranja{
    margin: 10px;
    padding: 10px;
    font-family: monospace; 
    color: coral;
}

a:hover{
    color: rgb(9, 255, 0);    
    opacity:0.95;
}
p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 5px;
    font-style: oblique;
}

.divregular{
   padding-left: 30px;
   padding-right: 30px; 
}

.divplus{
    padding-left: 550px;
    padding-right: 550px;   
}
.valor{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    font-size: large;
    color: rgb(255, 255, 255);
    background-color: coral;
}


.titulologo{
    float: right;
    color:gold;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman',serif;
    padding-top: 5px;
    font-weight: 600;
    font-style: oblique; 
    text-decoration:underline;
    padding-right: 100px;
}

.padleft{
    padding-left: 3px;

}

.links{
    font-size: large;
    font-weight: 600;
    background-color: rgb(255, 215, 0);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-style: none;
    border-radius: 10px;
    border: 20px;
    border-color: black;
    text-decoration: none;
}

.divlregistro{
    padding-left: 350px;
}